{% extends 'web/layouts/app.twig' %} 


{% block title %} Offers | {{company}} {% endblock %} 

{% block content %}
<!-- Body Start -->
	 <div class="wrapper">
		 <div class="gambo-Breadcrumb">
			 <div class="container">
				 <div class="row">
					 <div class="col-md-12">
						 <nav aria-label="breadcrumb">
							 <ol class="breadcrumb">
								 <li class="breadcrumb-item"><a href="{{base_url()}}/">Home </a></li>
								 <li class="breadcrumb-item active" aria-current="page">Frequently Asked Questions </li>
							 </ol>
						 </nav>
					 </div>
				 </div>
			 </div>
		 </div>
		 <div class="all-product-grid">
			 <div class="container">
				 <div class="row">
					 <div class="col-lg-12 col-md-12">
						 <div class="default-title mt-4">
							 <h2>Frequently Asked Questions </h2>
							 <img src="images/line.svg" alt="" />
						 </div>
						 <div class="panel-group accordion pt-1" id="accordion0">
							 <div class="panel panel-default">
								 <div class="panel-heading" id="headingOne">
									 <div class="panel-title">
										 <a class="collapsed" data-toggle="collapse" data-target="#collapseOne" href="#" aria-expanded="false" aria-controls="collapseOne">
											Registration
										 </a>
									 </div>
								 </div>
								 <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion0" style="">
									 <div class="panel-body">
										 <p>Lorem ipsum dolor sit ____, consectetur adipiscing elit. Nullam ______ faucibus erat a efficitur. ________ vulputate mauris eget augue ______, at eleifend enim aliquam. _______ suscipit lacinia neque eget ________. Morbi vitae nisl ac _____ placerat vulputate ac quis ______. Vestibulum pellentesque, orci eu ________ molestie, nisi libero hendrerit ____, vel interdum augue tortor ___ urna. Nullam enim dolor, ________ in metus vitae, tincidunt _________ neque. Pellentesque tempor nulla __ neque hendrerit fringilla. Suspendisse _________ venenatis maximus. Suspendisse erat ____, ultricies eu porta nec, ______ sit amet dui. Fusce _______ odio semper, hendrerit lectus _____, convallis nisl. Ut a _____ diam. Donec vitae leo _____. Cras pharetra libero ut ____ condimentum, non imperdiet leo _______. </p>
									 </div>
								 </div>
							 </div>
							 <div class="panel panel-default">
								 <div class="panel-heading" id="headingTwo">
									 <div class="panel-title">
										 <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" href="#" aria-expanded="false" aria-controls="collapseTwo">
											Account Related
										 </a>
									 </div>
								 </div>
								 <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion0">
									 <div class="panel-body">
										 <p>Lorem ipsum dolor sit ____, consectetur adipiscing elit. Nullam ______ faucibus erat a efficitur. ________ vulputate mauris eget augue ______, at eleifend enim aliquam. _______ suscipit lacinia neque eget ________. Morbi vitae nisl ac _____ placerat vulputate ac quis ______. Vestibulum pellentesque, orci eu ________ molestie, nisi libero hendrerit ____, vel interdum augue tortor ___ urna. Nullam enim dolor, ________ in metus vitae, tincidunt _________ neque. Pellentesque tempor nulla __ neque hendrerit fringilla. Suspendisse _________ venenatis maximus. Suspendisse erat ____, ultricies eu porta nec, ______ sit amet dui. Fusce _______ odio semper, hendrerit lectus _____, convallis nisl. Ut a _____ diam. Donec vitae leo _____. Cras pharetra libero ut ____ condimentum, non imperdiet leo _______. </p>
									 </div>
								 </div>
							 </div>
							 <div class="panel panel-default">
								 <div class="panel-heading" id="headingThree">
									  <div class="panel-title">
										 <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" href="#" aria-expanded="false" aria-controls="collapseThree">
											Payment
										 </a>
									 </div>
								 </div>
								 <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion0">
									 <div class="panel-body">
										 <p>Lorem ipsum dolor sit ____, consectetur adipiscing elit. Nullam ______ faucibus erat a efficitur. ________ vulputate mauris eget augue ______, at eleifend enim aliquam. _______ suscipit lacinia neque eget ________. Morbi vitae nisl ac _____ placerat vulputate ac quis ______. Vestibulum pellentesque, orci eu ________ molestie, nisi libero hendrerit ____, vel interdum augue tortor ___ urna. Nullam enim dolor, ________ in metus vitae, tincidunt _________ neque. Pellentesque tempor nulla __ neque hendrerit fringilla. Suspendisse _________ venenatis maximus. Suspendisse erat ____, ultricies eu porta nec, ______ sit amet dui. Fusce _______ odio semper, hendrerit lectus _____, convallis nisl. Ut a _____ diam. Donec vitae leo _____. Cras pharetra libero ut ____ condimentum, non imperdiet leo _______. </p>
									 </div>
								 </div>
							 </div>
							 <div class="panel panel-default">
								 <div class="panel-heading" id="headingfour">
									 <div class="panel-title">
										 <a class="collapsed" data-toggle="collapse" data-target="#collapsefour" href="#" aria-expanded="false" aria-controls="collapsefour">
											Delivery Related
										 </a>
									 </div>
								 </div>
								 <div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour" data-parent="#accordion0">
									 <div class="panel-body">
										 <p>Lorem ipsum dolor sit ____, consectetur adipiscing elit. Nullam ______ faucibus erat a efficitur. ________ vulputate mauris eget augue ______, at eleifend enim aliquam. _______ suscipit lacinia neque eget ________. Morbi vitae nisl ac _____ placerat vulputate ac quis ______. Vestibulum pellentesque, orci eu ________ molestie, nisi libero hendrerit ____, vel interdum augue tortor ___ urna. Nullam enim dolor, ________ in metus vitae, tincidunt _________ neque. Pellentesque tempor nulla __ neque hendrerit fringilla. Suspendisse _________ venenatis maximus. Suspendisse erat ____, ultricies eu porta nec, ______ sit amet dui. Fusce _______ odio semper, hendrerit lectus _____, convallis nisl. Ut a _____ diam. Donec vitae leo _____. Cras pharetra libero ut ____ condimentum, non imperdiet leo _______. </p>
									 </div>
								 </div>
							 </div>
							 <div class="panel panel-default">
								 <div class="panel-heading" id="headingfive">
									 <div class="panel-title">
										 <a class="collapsed" data-toggle="collapse" data-target="#collapsefive" href="#" aria-expanded="false" aria-controls="collapsefive">
											Order Related
										 </a>
									 </div>
								 </div>
								 <div id="collapsefive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfive" data-parent="#accordion0">
									 <div class="panel-body">
										 <p>Lorem ipsum dolor sit ____, consectetur adipiscing elit. Nullam ______ faucibus erat a efficitur. ________ vulputate mauris eget augue ______, at eleifend enim aliquam. _______ suscipit lacinia neque eget ________. Morbi vitae nisl ac _____ placerat vulputate ac quis ______. Vestibulum pellentesque, orci eu ________ molestie, nisi libero hendrerit ____, vel interdum augue tortor ___ urna. Nullam enim dolor, ________ in metus vitae, tincidunt _________ neque. Pellentesque tempor nulla __ neque hendrerit fringilla. Suspendisse _________ venenatis maximus. Suspendisse erat ____, ultricies eu porta nec, ______ sit amet dui. Fusce _______ odio semper, hendrerit lectus _____, convallis nisl. Ut a _____ diam. Donec vitae leo _____. Cras pharetra libero ut ____ condimentum, non imperdiet leo _______. </p>
									 </div>
								 </div>
							 </div>
							 <div class="panel panel-default">
								 <div class="panel-heading" id="headingsix">
									 <div class="panel-title">
										 <a class="collapsed" data-toggle="collapse" data-target="#collapsesix" href="#" aria-expanded="false" aria-controls="collapsesix">
											Customer Related
										 </a>
									 </div>
								 </div>
								 <div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix" data-parent="#accordion0">
									 <div class="panel-body">
										 <p>Lorem ipsum dolor sit ____, consectetur adipiscing elit. Nullam ______ faucibus erat a efficitur. ________ vulputate mauris eget augue ______, at eleifend enim aliquam. _______ suscipit lacinia neque eget ________. Morbi vitae nisl ac _____ placerat vulputate ac quis ______. Vestibulum pellentesque, orci eu ________ molestie, nisi libero hendrerit ____, vel interdum augue tortor ___ urna. Nullam enim dolor, ________ in metus vitae, tincidunt _________ neque. Pellentesque tempor nulla __ neque hendrerit fringilla. Suspendisse _________ venenatis maximus. Suspendisse erat ____, ultricies eu porta nec, ______ sit amet dui. Fusce _______ odio semper, hendrerit lectus _____, convallis nisl. Ut a _____ diam. Donec vitae leo _____. Cras pharetra libero ut ____ condimentum, non imperdiet leo _______. </p>
									 </div>
								 </div>
							 </div>
							 <div class="panel panel-default">
								 <div class="panel-heading" id="headingseven">
									 <div class="panel-title">
										 <a class="collapsed" data-toggle="collapse" data-target="#collapseseven" href="#" aria-expanded="false" aria-controls="collapseseven">
											Return & Refund
										 </a>
									 </div>
								 </div>
								 <div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven" data-parent="#accordion0">
									 <div class="panel-body">
										 <p>Lorem ipsum dolor sit ____, consectetur adipiscing elit. Nullam ______ faucibus erat a efficitur. ________ vulputate mauris eget augue ______, at eleifend enim aliquam. _______ suscipit lacinia neque eget ________. Morbi vitae nisl ac _____ placerat vulputate ac quis ______. Vestibulum pellentesque, orci eu ________ molestie, nisi libero hendrerit ____, vel interdum augue tortor ___ urna. Nullam enim dolor, ________ in metus vitae, tincidunt _________ neque. Pellentesque tempor nulla __ neque hendrerit fringilla. Suspendisse _________ venenatis maximus. Suspendisse erat ____, ultricies eu porta nec, ______ sit amet dui. Fusce _______ odio semper, hendrerit lectus _____, convallis nisl. Ut a _____ diam. Donec vitae leo _____. Cras pharetra libero ut ____ condimentum, non imperdiet leo _______. </p>
									 </div>
								 </div>
							 </div>
							 <div class="panel panel-default">
								 <div class="panel-heading" id="headingeight">
									 <div class="panel-title">
										 <a class="collapsed" data-toggle="collapse" data-target="#collapseeight" href="#" aria-expanded="false" aria-controls="collapseeight">
											How Does it Work
										 </a>
									 </div>
								 </div>
								 <div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight" data-parent="#accordion0">
									 <div class="panel-body">
										 <p>Lorem ipsum dolor sit ____, consectetur adipiscing elit. Nullam ______ faucibus erat a efficitur. ________ vulputate mauris eget augue ______, at eleifend enim aliquam. _______ suscipit lacinia neque eget ________. Morbi vitae nisl ac _____ placerat vulputate ac quis ______. Vestibulum pellentesque, orci eu ________ molestie, nisi libero hendrerit ____, vel interdum augue tortor ___ urna. Nullam enim dolor, ________ in metus vitae, tincidunt _________ neque. Pellentesque tempor nulla __ neque hendrerit fringilla. Suspendisse _________ venenatis maximus. Suspendisse erat ____, ultricies eu porta nec, ______ sit amet dui. Fusce _______ odio semper, hendrerit lectus _____, convallis nisl. Ut a _____ diam. Donec vitae leo _____. Cras pharetra libero ut ____ condimentum, non imperdiet leo _______. </p>
									 </div>
								 </div>
							 </div>							
						 </div>
					 </div>
				 </div>
			 </div>
		 </div>	
	 </div>
	 <!-- Body End -->

{% endblock %}