{% extends 'web/layouts/app.twig' %} 
{% block title %}Grocery App | Blood Center App | Blogger Content Management Systems | Products{% endblock %} 
{% block content %}

<div class="page-title-area item-bg1">
    <div class="container">
        <div class="page-title-content">
            <h2>Services</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

{% endblock %}